*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 0;
    margin: 0;
}
body{
    height: 100vh;
    background: rgb(63,217,251);
    background: radial-gradient(circle, rgba(63,217,251,1) 48%, rgba(0,0,0,1) 100%); 
    background-attachment: fixed;
}
.page{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
img{
    height: 200px;
    width: 300px;
    border-radius: 20%;
    margin-bottom: 50px;
}
h3{
    font-size: 25px;
    font-weight: 500;
    margin-left: auto;
    margin-right: auto;
}
p,
li{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
button{
    background-color: lightblue;
    color: black;
    border-radius: 100%;
    width: 10rem;
    height: 2rem;
}
.container{
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.recipe{
    display: inline-block;
}